@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div class="container" style="margin-top: 6rem;">
    <div class="row text-center">
        <h2 class="text-danger mb-4">An error occurred while processing your request.</h2>

        @if (Model.ShowRequestId)
        {
            <p>
                <strong>Request ID:</strong> <code>@Model.RequestId</code>
            </p>
        }

        @if(string.IsNullOrEmpty(Model.Message)){
            <p style="font-size: 1.25rem;"> An error occurred while processing your request</p>
        }
        else
        {
            <p style="font-size: 1.25rem;">@Model.Message</p>
        }
    </div>
</div>