@model DirectorySite.Models.ViewModel.LoginRequest

@{
    Layout = "_LayoutGuest";
    ViewData["Title"] = "Index";
}

<div class="container mt-4" style="width: 24rem;">

    <div class="row border rounded p-4" style="background-color: whitesmoke;">
    @using( Html.BeginForm("Login", "Authentication", FormMethod.Post )){
        <div class="form-outline mb-4 mt-4">
            <input asp-for="Email" class="form-control" />
            <label asp-for="Email" >Correo</label>
        </div>

        <div class="form-outline mb-4">
            <input asp-for="Password" class="form-control" />
            <label asp-for="Password">Contraseña</label>
        </div>

        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary btn-block mb-2 px-5">Iniciar Sesion</button>
        </div>
    }

    @if( Model is not null){
        @Html.DisplayFor( model=>model.ErrorMessage, "Errormessage")
    }

    </div>

</div>

<style>
    body{
        padding-top: 4rem;
        background-color: whitesmoke;
        background-image: url(img/admin-bg-light.png);
        background-repeat: no-repeat;
        background-position: top;
        min-height: 630px;
    }
</style>