@model UserUpdateCredentialsRequest

<form id="credentialsForm" method="patch" class="row mt-4 border border-danger rounded p-4 bg-danger bg-opacity-10">
  <div class="col-12 mb-2 p-1 border-bottom d-flex">
    <h4 class="fs-5">Datos generales</h4>
  </div>

  <div class="col-4">
      @Html.LabelFor( item => item.Password, new { @class = "label" })
      @Html.TextBoxFor( item => item.Password, new { @class = "form-control", @required="true", @type="password" })
  </div>

  <div class="col-4">
      @Html.LabelFor( item => item.ConfirmPassword, new { @class = "label" })
      @Html.TextBoxFor( item => item.ConfirmPassword, new { @class = "form-control", @required="true", @type="password" })
  </div>

  <div class="col-12 mt-4 d-flex align-items-center">
    <button type="submit" class="btn btn-success">Actualizar Credenciales</button>
  </div>
</form>