@model DirectorySite.Models.ViewModel.CatalogViewModel
@{
    ViewData["Title"] = "Catalogo - Estados Civil";
    ViewData["ActivePage"] = "Estados Civil";
}

<partial name="./Partials/PageHeader" />

<div class="fluid-container ">
    <div class="row align-items-start">
        <div class="col-2">
            <partial name="./Partials/CatalogSidebar" />
        </div>

        <div class="col-10">
            <form asp-action="MaritalStatus" method="get" id="formFilters" class="d-flex align-items-center border rounded px-2 py-1 mb-2">
                <div class="input-group input-group-sm" style="width: 16rem;">
                    <span class="input-group-text">
                        <svg width="12" height="12" aria-hidden="true" data-prefix="fal" data-icon="search" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-search fa-w-16 fa-7x"><path fill="currentColor" d="M508.5 481.6l-129-129c-2.3-2.3-5.3-3.5-8.5-3.5h-10.3C395 312 416 262.5 416 208 416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c54.5 0 104-21 141.1-55.2V371c0 3.2 1.3 6.2 3.5 8.5l129 129c4.7 4.7 12.3 4.7 17 0l9.9-9.9c4.7-4.7 4.7-12.3 0-17zM208 384c-97.3 0-176-78.7-176-176S110.7 32 208 32s176 78.7 176 176-78.7 176-176 176z" class=""></path>
                        </svg>
                    </span>
                    <input id="tb_search" asp-for="SearchText" type="search" class="form-control" placeholder="Buscar..." />
                </div>

                @* <button type="button" class="ml-auto ms-auto btn btn-sm btn-success" data-bs-toggle="modal" data-bs-target="#newElementModal">
                    <svg width="12" height="12" aria-hidden="true" data-prefix="far" data-icon="plus" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" class="svg-inline--fa fa-plus fa-w-12 fa-7x"><path fill="currentColor" d="M368 224H224V80c0-8.84-7.16-16-16-16h-32c-8.84 0-16 7.16-16 16v144H16c-8.84 0-16 7.16-16 16v32c0 8.84 7.16 16 16 16h144v144c0 8.84 7.16 16 16 16h32c8.84 0 16-7.16 16-16V288h144c8.84 0 16-7.16 16-16v-32c0-8.84-7.16-16-16-16z" class=""></path></svg>
                    Agregar Nuevo
                </button> *@
            </form>

            <div class="border rounded">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                        <th scope="col">#</th>
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if(Model.Data.Any())
                        {
                            var i = 1;
                            foreach( var item in Model.Data )
                            {
                                <tr>
                                    <th scope="row">@i</th>
                                    <td>@item.Id</td>
                                    <td>@item.Name</td>
                                    <td>
                                        @* <a href="#" class="btn btn-sm" tabindex="-1" role="button" aria-disabled="true">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 1025 1023">
                                                <path fill="currentColor" d="M896.428 1023h-768q-53 0-90.5-37.5T.428 895V127q0-53 37.5-90t90.5-37h576l-128 127h-384q-27 0-45.5 19t-18.5 45v640q0 27 19 45.5t45 18.5h640q27 0 45.5-18.5t18.5-45.5V447l128-128v576q0 53-37.5 90.5t-90.5 37.5m-576-464l144 144l-208 64zm208 96l-160-159l479-480q17-16 40.5-16t40.5 16l79 80q16 16 16.5 39.5t-16.5 40.5z"/>
                                            </svg>
                                        </a> *@
                                    </td>
                                </tr>
                                i++;
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>