@using System.Globalization
@model PersonResponse?
@{
  ViewData["Title"] = ( Model == null ?"Persona no encontrada" : Model.FullName??"*Sin nombre");
  ViewData["ActivePage"] = "Personas";
}

<div class="d-flex align-items-baseline mb-2">
  <h1 class="display-6">
    @ViewBag.Title
  </h1>
  <div class="ms-auto">
    <partial name="../Shared/Breadcrumb">
  </div>
</div>

@if(Model != null){
    <partial name="./Partials/PersonProfile.cshtml" />
}else{
    <partial name="./Partials/PersonNotFound.cshtml" />
}

@section scripts {
  @if(Model != null){
    <script>
      let currentPersonID = '@Html.Raw(Model.PersonId)';
    </script>
    <script src="~/js/person/personSessions.js"></script>
  }
}