@model DirectorySite.Models.UserResponse

<div class="card">
    <div class="card-header px-sm-25 px-3">
        <div class="edit-profile__password">
            <h5>Actualizar Contraseña</h5>
        </div>
    </div>
    <div class="card-body">
        <div class="row justify-content-center">
            <form asp-action="UpdatedPassword" asp-controller="Profile">
                @if (ViewBag.Error != null)
                {
                    <div class="alert alert-danger">@ViewBag.Error</div>
                }
                <input type="hidden" name="UserId" value="@Model.Id" />

                <div class="form-group mb-1">
                    <label for="password">Nueva Contraseña</label>
                    <div class="position-relative">
                        <input id="password" type="password" class="form-control" name="password" required/>
                        <span class="uil uil-eye-slash text-lighten fs-15 field-icon toggle-password2"></span>
                    </div>

                    <label for="confirmPassword">Confirmar Nueva Contraseña</label>
                    <div class="position-relative">
                        <input id="confirmPassword" type="password" class="form-control" name="confirmPassword" required/>
                        <span class="uil uil-eye-slash text-lighten fs-15 field-icon toggle-password2"></span>
                    </div>

                    <div class="button-group d-flex flex-wrap pt-2 mb-1">
                        <button type="submit" class="btn btn-success btn-default btn-squared ml-auto ms-auto text-capitalize">Actualizar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>