 <nav class="nav flex-column border rounded-1">
    <a class="nav-link" asp-action="Occupations" asp-controller="Catalog">Ocupaciones</a>
    <a class="nav-link" asp-action="Nationalities" asp-controller="Catalog">Nacionalidades</a>
    <a class="nav-link" asp-action="MaritalStatus" asp-controller="Catalog">Estados Civil</a>
    <a class="nav-link" asp-action="ContactTypes" asp-controller="Catalog">Tipos de Contacto</a>
    @* <a class="nav-link" asp-action="" asp-controller="Catalog">Paises</a>
    <a class="nav-link" asp-action="" asp-controller="Catalog">Estados</a>
    <a class="nav-link" asp-action="" asp-controller="Catalog">Municipios</a>
    <a class="nav-link" asp-action="" asp-controller="Catalog">Colonias</a> *@
</nav>