<nav class="nav flex-column border rounded-1">
    <a class="nav-link" asp-action="Countries" asp-controller="Catalog">Paises</a>
    <a class="nav-link" asp-action="States" asp-controller="Catalog">Estados</a>
    <a class="nav-link" asp-action="Municipalities" asp-controller="Catalog">Municipios</a>
    <a class="nav-link" asp-action="Colonies" asp-controller="Catalog">Colonias</a>
    
    <div class="border border-light m-1"></div>

    <a class="nav-link" asp-action="Occupations" asp-controller="Catalog">Ocupaciones</a>
    <a class="nav-link" asp-action="Nationalities" asp-controller="Catalog">Nacionalidades</a>
    <a class="nav-link" asp-action="MaritalStatus" asp-controller="Catalog">Estados Civil</a>
    <a class="nav-link" asp-action="ContactTypes" asp-controller="Catalog">Tipos de Contacto</a>
    <a class="nav-link" asp-action="DocumentTypes" asp-controller="Catalog">Tipos de Document</a>

    <div class="border border-light m-1"></div>

    <a class="nav-link" asp-action="SearchZipcode" asp-controller="Catalog">Codigo Postal</a>
</nav>