 <nav class="nav flex-column border rounded-1">
    <a class="nav-link" asp-action="Occupations" asp-controller="Catalog">Occupations</a>
    <a class="nav-link" asp-action="Nationalities" asp-controller="Catalog">Nationalities</a>
    <a class="nav-link" asp-action="MaritalStatus" asp-controller="Catalog">Marital Statuses</a>
    <a class="nav-link" asp-action="ContactTypes" asp-controller="Catalog">Contact Types</a>
    <a class="nav-link" asp-action="" asp-controller="Catalog">Countries</a>
    <a class="nav-link" asp-action="" asp-controller="Catalog">States</a>
    <a class="nav-link" asp-action="" asp-controller="Catalog">Municipalities</a>
    <a class="nav-link" asp-action="" asp-controller="Catalog">Colonies</a>
</nav>