<div class="d-flex align-items-baseline mb-2">
  
  <h1 class="display-6">@ViewBag.Title</h1>

  <nav aria-label="breadcrumb" class="ms-auto">
    <ol class="breadcrumb">
      @if(ViewBag.ActivePage != null){
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Catalog">Catalogos</a></li>
        <li class="breadcrumb-item active" aria-current="page">@ViewBag.ActivePage</li>
      }else{
        <li class="breadcrumb-item active" aria-current="page">Catalogs</li>
      }
    </ol>
  </nav>

</div>