<div class="text-center">
    <h1 class="display-5 text-uppercase">Catalogs</h1>
</div>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    @if(ViewBag.ActivePage != null){
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Catalog">Catalogs</a></li>
        <li class="breadcrumb-item active" aria-current="page">@ViewBag.ActivePage</li>
    }else{
        <li class="breadcrumb-item active" aria-current="page">Catalogs</li>
    }
  </ol>
</nav>