@model UpdatePersonContactRequest

<div class="container">
    <div class="row">
        <form id="contactForm" class="row my-2" asp-action="UpdateContactInformation" asp-route-personId="@Model.PersonId" method="patch">
            <div class="mb-2 col-md-12">
                @Html.LabelFor(item => item.Value, new { @class="label"})
                @Html.TextBoxFor(item => item.Value, new { @class="form-control", @type="tel", @required="true"})
            </div>

            <div class="mt-2">
                <button type="submit" class="btn btn-success">Actualizar Contacto</button>
            </div>
        </form>
    
        <div class="col-12 my-1"></div>

    </div>
</div>